.friend-profile {
  margin-top: 5%;
  text-align: center;
}

.friend-profile img {
  width: 100px;
  border-radius: 50%;
}

.friend-profile button {
  margin: 2px;
  padding: 2px;
}

.data {
  text-align: center;
  margin-top: 5px;
}

@media (max-width: 860px) {
  .friend-profile {
    margin-top: 12%;
  }
}
