.chat-showcase {
  padding: 5px 20px;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  margin: 2% 20%;
  border: 1px solid #c1a1d3;
  border-radius: 5px;
  color: #ffff;
  box-shadow: 0 0 5px #c1a1d3;
  text-align: left;
  box-shadow: 0 0 15px black;
  border-top-left-radius: 15px;
}

.chat-showcase h4,
.chat-showcase h5 {
  margin-top: 3px;
}

@media (max-width: 860px) {
  .chat-showcase {
    margin: 5% 5%;
  }
}
