.btn {
  padding: 2px 5px;
  margin: 2px;
  background: transparent;
  color: #ff2e63;
  border: 1px solid #ff2e63;
}

.btn:hover {
  cursor: pointer;
  color: #eaeaea;
  border: 1px solid #eaeaea;
}
