.ChatTextInput {
  /* position: absolute; */
  position: fixed;
  bottom: 0;
  background-color: grey;
  padding-bottom: 5vh;
  padding-top: 2vh;
  z-index: 2;
}

.ChatTextInput input {
  width: 65.7vw;
}

.ChatTextInput button {
  background: transparent;
  color: #fff3e6;
  border: 1px solid #fff3e6;
  padding: 2px 6px;
}

.ChatTextInput button:hover {
  cursor: pointer;
  color: #0d335d;
  border: 1px solid #0d335d;
}
