.msg .text {
  border: 1px solid #252a34;
  width: max-content;
  border-radius: 15px;
  padding: 5px 15px;
  margin: 5px 2px;
  max-width: 70vw;
  text-align: left;
  font-family: "Marck Script", cursive;
}

.msg {
  margin: 10px 2px;
}

@media (max-width: 840px) {
  .msg {
    margin: 5px 2px;
  }
  .msg .text {
    max-width: 68.5vw;
  }
}
